@mixin flex($display, $align, $justify) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
}

@mixin font($family, $size, $weight) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
}
